extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='POST' action='/api')
    | URL: 
    input(type='text' name='url' placeholder='name')
    br
    | type: 
    input(type='text' name='method' placeholder='type')
    br
    input(type='submit' value='submit')
